In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random

red_df = pd.read_csv('../Resources/binary_red_wine_df.csv')
white_df = pd.read_csv('../Resources/binary_white_wine_df.csv')

In [2]:
red_df

,wine_type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,1,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,1,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,1,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,1,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,1,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,1,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,1,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [3]:
white_wine = white_df.sample(n=1599, random_state=1)
white_wine

,wine_type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
2414,0,6.2,0.38,0.18,7.4,0.095,28.0,195.0,0.99773,3.53,0.71,9.2,4
1584,0,6.4,0.25,0.74,7.8,0.045,52.0,209.0,0.99560,3.21,0.42,9.2,6
3248,0,6.4,0.25,0.37,4.5,0.039,41.0,147.0,0.99210,3.18,0.40,11.1,7
645,0,6.3,0.26,0.25,7.8,0.058,44.0,166.0,0.99610,3.24,0.41,9.0,5
3163,0,7.1,0.36,0.37,4.8,0.019,39.0,114.0,0.99036,3.08,0.49,12.7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4586,0,5.4,0.29,0.38,1.2,0.029,31.0,132.0,0.98895,3.28,0.36,12.4,6
2016,0,6.3,0.41,0.33,4.7,0.023,28.0,110.0,0.99100,3.30,0.38,12.5,7
4130,0,6.8,0.29,0.32,1.8,0.032,18.0,130.0,0.99095,3.05,0.62,11.2,6
4653,0,6.3,0.36,0.28,2.5,0.035,18.0,73.0,0.98868,3.10,0.47,12.8,7
3802,0,7.9,0.21,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,5

In [4]:
combined_wine = pd.DataFrame.append(red_df, white_wine)
combined_wine

,wine_type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,1,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,1,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4586,0,5.4,0.29,0.38,1.2,0.029,31.0,132.0,0.98895,3.28,0.36,12.4,6
2016,0,6.3,0.41,0.33,4.7,0.023,28.0,110.0,0.99100,3.30,0.38,12.5,7
4130,0,6.8,0.29,0.32,1.8,0.032,18.0,130.0,0.99095,3.05,0.62,11.2,6
4653,0,6.3,0.36,0.28,2.5,0.035,18.0,73.0,0.98868,3.10,0.47,12.8,7
3802,0,7.9,0.21,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,5

In [5]:
white_wine = white_wine.sample(n=5, random_state=1)
white_wine

,wine_type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4411,0,5.8,0.30,0.38,4.9,0.039,22.0,86.0,0.98963,3.23,0.58,13.1,7
1787,0,7.2,0.26,0.30,2.1,0.033,50.0,158.0,0.99090,3.33,0.43,12.1,7
3007,0,5.0,0.27,0.32,4.5,0.032,58.0,178.0,0.98956,3.45,0.31,12.6,7
709,0,6.2,0.47,0.21,1.0,0.044,13.0,98.0,0.99345,3.14,0.46,9.2,5
1463,0,8.3,0.19,0.49,1.2,0.051,11.0,137.0,0.99180,3.06,0.46,11.0,6

In [6]:
X = combined_wine.drop(columns=["wine_type", "quality", "chlorides", "fixed acidity", "pH", "residual sugar", "citric acid", "density", "alcohol"])
y = combined_wine['wine_type']

print("Shape: ", X.shape, y.shape)

Shape:  (3198, 4) (3198,)

In [7]:
X

      volatile acidity  free sulfur dioxide  total sulfur dioxide  sulphates
0                 0.70                 11.0                  34.0       0.56
1                 0.88                 25.0                  67.0       0.68
2                 0.76                 15.0                  54.0       0.65
3                 0.28                 17.0                  60.0       0.58
4                 0.70                 11.0                  34.0       0.56
...                ...                  ...                   ...        ...
4586              0.29                 31.0                 132.0       0.36
2016              0.41                 28.0                 110.0       0.38
4130              0.29                 18.0                 130.0       0.62
4653              0.36                 18.0                  73.0       0.47
3802              0.21                 21.0                 138.0       0.52

[3198 rows x 4 columns]

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [9]:
#Create the model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=4000,
   random_state=1)

In [10]:
#Use the score() method on the model to show the R2 score
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=4000, random_state=1)

In [11]:
y_pred = classifier.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9675

In [13]:
#combined_wine.to_csv('random_sample_wines.csv', index= False)