In [14]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlalchemy  
from sqlalchemy import create_engine

In [17]:
# Example python program to read data from a PostgreSQL table

# Create an engine instance
alchemyEngine  = create_engine('postgresql+psycopg2://postgres:password@localhost/Wine_Not_DB')

# Connect to PostgreSQL server
dbConnection   = alchemyEngine.connect();

# Read data from PostgreSQL database table and load into a DataFrame instance
dataFrame = pd.read_sql("select * from \"combined_wine\"", dbConnection);
pd.set_option('display.expand_frame_repr', False);

# Print the DataFrame
print(dataFrame);

# Close the database connection
dbConnection.close();

      wine_type fixed_acid volatile_acid citric_acid residual_sugar chlorides free_sulfur_dioxide total_sulfur_dioxide  density    ph sulphates alcohol  quality
0             1        7.4           0.7         0.0            1.9     0.076                11.0                 34.0   0.9978  3.51      0.56     9.4        5
1             1        7.8          0.88         0.0            2.6     0.098                25.0                 67.0   0.9968   3.2      0.68     9.8        5
2             1        7.8          0.76        0.04            2.3     0.092                15.0                 54.0    0.997  3.26      0.65     9.8        5
3             1       11.2          0.28        0.56            1.9     0.075                17.0                 60.0    0.998  3.16      0.58     9.8        6
4             1        7.4           0.7         0.0            1.9     0.076                11.0                 34.0   0.9978  3.51      0.56     9.4        5
...         ...        ...           ...         ...            ...       ...                 ...                  ...      ...   ...       ...     ...      ...
6492          0        6.2          0.21        0.29            1.6     0.039                24.0                 92.0  0.99114  3.27       0.5    11.2        6
6493          0        6.6          0.32        0.36            8.0     0.047                57.0                168.0   0.9949  3.15      0.46     9.6        5
6494          0        6.5          0.24        0.19            1.2     0.041                30.0                111.0  0.99254  2.99      0.46     9.4        6
6495          0        5.5          0.29         0.3            1.1     0.022                20.0                110.0  0.98869  3.34      0.38    12.8        7
6496          0        6.0          0.21        0.38            0.8      0.02                22.0                 98.0  0.98941  3.26      0.32    11.8        6

[6497 rows x 13 columns]

In [18]:
combined_wine = dataFrame  
combined_wine.head()

   wine_type fixed_acid volatile_acid citric_acid residual_sugar chlorides free_sulfur_dioxide total_sulfur_dioxide density    ph sulphates alcohol  quality
0          1        7.4           0.7         0.0            1.9     0.076                11.0                 34.0  0.9978  3.51      0.56     9.4        5
1          1        7.8          0.88         0.0            2.6     0.098                25.0                 67.0  0.9968   3.2      0.68     9.8        5
2          1        7.8          0.76        0.04            2.3     0.092                15.0                 54.0   0.997  3.26      0.65     9.8        5
3          1       11.2          0.28        0.56            1.9     0.075                17.0                 60.0   0.998  3.16      0.58     9.8        6
4          1        7.4           0.7         0.0            1.9     0.076                11.0                 34.0  0.9978  3.51      0.56     9.4        5

In [3]:
combined_wine

,wine_type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,1,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,1,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,1,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,0,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,0,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,0,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,0,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,0,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [4]:
X = combined_wine.drop(columns="wine_type")
y = combined_wine['wine_type']

print("Shape: ", X.shape, y.shape)

Shape:  (6497, 12) (6497,)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [6]:
#Create the model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=1000,
   random_state=1)

In [7]:
#Use the score() method on the model to show the R2 score
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=1)

In [8]:
y_pred = classifier.predict(X_test)

In [9]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9864615384615385